{# templates/registration/register.html.twig #}
{% include 'assets.html.twig' %}

{{ form_start(form) }}

<div class="container d-flex justify-content-center align-items-center h-100">

    <div class="card" style="width: 50rem;">
        <div class="card-body d-flex flex-md-column justify-content-center align-items-center">
            <form method="post">


                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="/logout">Logout</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

{#                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>#}
                <label for="">E-mail</label>
                {{ form_widget(form.email) }}
{#                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>#}
                <label for="">Password</label>
                {{ form_widget(form.password.first) }}
                <label for="">Re-Password</label>
                {{ form_widget(form.password.second) }}

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}

                <button class="btn btn-lg btn-primary mt-4" type="submit">
                    Sign in
                </button>
            </form>
        </div>
    </div>
</div>
<button type="submit">Register!</button>
{{ form_end(form) }}